APScheduler==3.10.1
async-generator==1.10
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
exceptiongroup==1.1.1
Flask==2.3.2
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
MouseInfo==0.1.3
oauthlib==3.2.2
outcome==1.2.0
packaging==23.1
Pillow==9.5.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
python-dotenv==1.0.0
python-xlib==0.33
python3-xlib==0.15
pytweening==1.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.4
requests==2.30.0
requests-oauthlib==1.3.1
selenium==4.9.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.14.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
webdriver-manager==3.8.6
Werkzeug==2.3.4
wikipedia==1.4.0
wsproto==1.2.0
